@use "../helpers/mixins" as helperModule;
@use "../helpers/variables";
@use "../library/library" as inputs;

.title {
    color: var(--txt-primary, #00B9B6);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    margin: 0;
}

.headline {
    color: var(--txt-black, #0E0E0F);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 120%;
    align-self: stretch;
    width: 600px;
    margin: 0;
}

.sessions__button-button {
    border-radius: 12px;
    background: var(--colors-gradient, linear-gradient(225deg, #00B9B6 0%, #00CDAC 100%));
    box-shadow: 0px 15px 30px 0px rgba(220, 232, 243, 0.25);
    padding: 12px 30px 14px 30px;
    gap: 10px;
    border: 0;
    color: var(--txt-white, #FFF);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    cursor: pointer;
}

.sessions__headline {
    margin-bottom: 50px;
}

.sessions {
    display: flex;
    margin-bottom: 140px;
}

.section__application-video {
  cursor: pointer;
  margin-right: 50px;
}

.download-title {
    color: var(--txt-black, #0E0E0F);
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    width: 454px;
}

.section__application {
    display: flex;
}

.application__logo-icon {
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 10px 10px;
}

.application__headline {
    color: #00B9B6;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    text-transform: uppercase;
    margin: 0;
}

.section__application-logo {
    display: flex;
    margin-bottom: 82px;
}

.application__title {
    color: var(--txt-black-lighten, #333);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    margin: 0;
}

.section__application-title {
    display: flex;
}

.application__title {
    width: 300px;
}

.section__application-main {
    margin-left: 20px;
}

.download__application-section {
    padding: 8px 12px;
    border-radius: 8px;
    background: #2E3A59;
    box-shadow: 0px 15px 30px 0px rgba(220, 232, 243, 0.25);
    border: 0;
    cursor: pointer;
}

.download__application-section:first-child {
    margin-right: 20px;
}

.section__application {
    margin-bottom: 140px;
}

.psychologists__title-text {
    color: var(--txt-black, #0E0E0F);
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.psychologists__title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 55px;
}

.psychologists__topics-text {
    color: var(--txt-black-lighten, #333);
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin: 0;
}

.psychologists__topics-button {
    padding: 10px 30px;
    gap: 5px;
    border-radius: 12px;
    background: var(--colors-white, #FFF);
    box-shadow: 0px 15px 25px 0px rgba(0, 0, 0, 0.05);
}

.psychologists__topics-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 15px;
}

.psychologists__topics {
    margin-right: 15px;
}

.psychologists__topics-text-dedicated {
    color: var(--txt-primary, #00B9B6);
}

.psychologists__topics-text-full {
    color: var(--txt-white, #FFF);
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.psychologists__topics-button-full {
    border-radius: 12px;
    background: var(--colors-gradient, linear-gradient(225deg, #00B9B6 0%, #00CDAC 100%));
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.10);
}

.psychologists__list {
    margin-top: 35px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
    margin-bottom: 40px;
}

.psychologist-menu {
    border-radius: 12px;
    background: var(--colors-white, #FFF);
    box-shadow: 0px 15px 25px 0px rgba(0, 0, 0, 0.05);
    padding: 15px;
}

.psychologist-name {
    color: var(--txt-black-lighten, #333);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    margin-top: 15px;
    margin-bottom: 10px;
    
}

.psychologist-arrow {
    align-self: flex-end;
    cursor: pointer;
}

.rating {
    display: flex;
    justify-content: space-between;
}

.stars {
    margin-top: 5px;
}

.psychologist-slider {
    width: 20px;
    height: 6px;
    background: rgba(0, 185, 182, 0.25);
    border-radius: 10px;
    cursor: pointer;
}

.psychologist-slider-select {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.psychologist-slider--active {
    width: 30px;
    background: #00B9B6;
}

.support-enumeration--text {
    color: var(--txt-black, #0E0E0F);
    font-family: Inter;
    font-size: 36px;
    font-weight: 700;
    line-height: 120%;
    margin: 0;
}

.psychologists {
    margin-bottom: 188px;
}

.enumeration-item {
    color: var(--txt-black-lighten, #333);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.enumeration-item {
    list-style-image: url(../images/check.png);
    list-style-type: square;
    margin-bottom: 15px;
}

.enumeration-item:last-child {
    margin-bottom: -15px;
}

.enumeration-list {
    margin: 0;
    padding: 0;
}

.support-enumeration--numbering {
    margin-left: 16px;
}

.support-enumeration--headline {
    margin-bottom: 40px;
}

.support-enumeration {
    display: flex;
    margin-bottom: 210px;
}

.support-enumeration--image {
    margin-left: 145px;
}

.online-sessions__psyholog--text {
    color: var(--txt-black, #0E0E0F);
    font-family: Inter;
    font-size: 36px;
    font-weight: 700;
    line-height: 120%;
}

.online-sessions__psyholog {
    width: 700px;
}

.section__online-sessions {
    display: flex;
    border-radius: 24px;
    background: rgba(0, 185, 182, 0.10);
    padding-bottom: 120px;
}

.section__online-sessions--mobile {
    margin-left: 45px;
}

.psyholog-enumeration--list {
    margin: 0;
    padding: 0;
}

.psyholog-enumeration--item {
    color: var(--txt-black, #0E0E0F);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 5px;
}

.psyholog-enumeration--title {
    color: var(--txt-black, #0E0E0F);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 140%;
}

.psyholog-enumeration--item {
    // list-style-image: url(../images/bullet.svg);
    // list-style-type: square;   
    color: #00B9B6;
}

.psyholog-enumeration--title {
    margin: 0;
    margin-bottom: 20px;
}

.psyholog-enumeration--span {
    color: #0E0E0F;
}

.psyholog-enumeration--title:last-child {
    margin-bottom: -20px;
}

.section__online-sessions--mobile {
    position: absolute;
    top: -15%;
}

.section__online-sessions {
    position: relative;
    margin-bottom: 140px;
}

.online-sessions__psyholog {
    margin-left: 380px;
}

.online-sessions__psyholog--enumeration {
    margin-left: 23px;
}

.online-sessions__psyholog--text {
    margin: 0;
}

.online-sessions__psyholog--headline {
    margin-top: 50px;
    margin-bottom: 40px;
}

.specialist-select--text {
    color: var(--txt-black, #0E0E0F);
    font-family: Inter;
    font-size: 36px;
    font-weight: 700;
    line-height: 120%;
    margin: 0;
}

.specialist-select--description {
    color: var(--txt-primary, #00B9B6);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 140%;
    margin: 0;
}

.specialist-select--headline-description {
    margin-bottom: 62px;
}

.select-specialist__number {
    color: var(--txt-accent, #00B9B6);
    font-family: Inter;
    font-size: 128px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    opacity: 0.1;
    margin: 0;
}

.select-specialist__headline {
    color: var(--txt-black, #0E0E0F);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 140%;
    margin: 0;
}

.select-specialist__title {
    color: var(--txt-black-lighten, #333);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    margin: 0;
}

.select-specialist__enumeration {
    width: 740px;
    display: flex;
    position: relative;
    margin-bottom: 30px;
}

.select-specialist__text {
    margin-top: 20px;
    position: absolute;
    left: 50px;
}

.select-specialist__enumeration:last-child {
    margin-bottom: -30px    ;
}

.select-specialist__section {
    display: flex;
}

.service--headline-text {
    color: var(--txt-black, #0E0E0F);
    font-family: Inter;
    font-size: 36px;
    font-weight: 700;
    line-height: 120%;
    margin: 0;
}

.service--headline-block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.section__support {
    margin-bottom: 140px;
}

.service__review-video {
    cursor: pointer;
}

.service__main {
    display: flex;
    margin-bottom: 85px;
}

.service__statistics--headline {
    color: var(--colors-additional, #FFA800);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 120%;
    margin: 0;
}

.service__statistics--text {
    color: var(--txt-black, #0E0E0F);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    margin: 0;
}

.service__statistics {
    margin-bottom: 40px;
}

.service__statistics:last-child {
    margin-bottom: -40px;
}

.service__statistics-main {
    margin-top: 50px;
    margin-left: 95px;
}

.service__selection--headline {
    color: var(--txt-black, #0E0E0F);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 120%;
    margin: 0;
    margin-bottom: 5px;
}

.service__selection--text {
    color: var(--txt-black-lighten, #333);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 140%;
    margin: 0;
}

.service__selection {
    display: flex;
    padding: 20px 30px 20px 120px;
    align-items: flex-start;
    border-radius: 24px;
    background: var(--colors-white, #FFF);
    box-shadow: 0px 15px 25px 0px rgba(0, 0, 0, 0.05);
    position: relative;
}

.service__selection-union::before {
    content: url(../images/icon-calendar.png);
    position: absolute;
    left: 2%;
}

.service__selection-union {
    width: 400px;
}

.service__rebounds {
    display: flex;
    gap: 20px;
}

.service__selection-union--additionally::before {
    content: url(../images/icon-watch.png);
    position: absolute;
    left: 2%;
}

.communication__section--headline-text {
    color: var(--txt-black, #0E0E0F);
    font-family: Inter;
    font-size: 36px;
    font-weight: 700;
    line-height: 120%;
    margin: 0;
}

.communication__section--headline {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
}

.section__service {
    margin-bottom: 145px;
}

.application-form--headline {
    color: var(--txt-black, #0E0E0F);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 10px;
}

.application-form--text {
    color: var(--txt-black-lighten, #333);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 140%;
    margin: 0;
    margin-bottom: 105px;
    
}

.application-form--span {
    color: var(--txt-primary, #00B9B6);
}

.application-form {
    width: 355px;
}

.chat-speak__section {
    display: flex;
    justify-content: space-between;
}

.application-form--headline::before {
    margin-right: 10px;
    color: var(--txt-primary, #00B9B6);
}

.application-form ul {
    list-style: none;
}

.application-form--headline-first::before {
    content: "1";
}

.application-form--headline-third::before {
    content: "3";
}

.application-form--headline-second::before {
    content: "2";
}

.application-form--headline-fourth::before {
    content: "4";
}

.application-form {
    margin-top: 45px;
}

.application-form--button button {
    color: var(--txt-primary, #00B9B6);
    font-family: Inter;
    font-size: 18px;
    font-weight: 700;
    line-height: 120%;
    padding: 12px 30px 14px 30px;
    border-radius: 12px;
    border: 1px solid var(--colors-primary, #00B9B6);
    background: var(--colors-bg, #F9FDFF);
    box-shadow: 0px 15px 30px 0px rgba(220, 232, 243, 0.25);
    cursor: pointer;
}

.application-form--button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.services__section--headline h3 {
    color: var(--txt-black, #0E0E0F);
    font-family: Inter;
    font-size: 36px;
    font-weight: 700;
    line-height: 120%;
    margin: 0;
}

.communication__section {
    margin-bottom: 145px;
}

.services__section--headline {
    margin-bottom: 50px;
}

.first-service form {
    padding: 50px;
    border-radius: 24px;
    background: rgba(0, 185, 182, 0.10);
}

.info-about-service--headline {
    margin: 0;
    color: var(--txt-black-lighten, #333);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 140%;
}

.info-about-service--text {
    color: var(--txt-black-lighten, #333);
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 140%;
    margin: 0;
}

.info-about-service--first-span {
    color: var(--txt-black-lighten, #333);
    font-family: Inter;
    font-size: 56px;
    font-weight: 700;
    line-height: 100%;
}

.info-about-service {
    margin-bottom: 30px;
}

.enumeration-services-item {
    color: var(--txt-black-lighten, #333);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 140%;
}

.enumeration-services-item {
    list-style-image: url(../images/check.png);
    list-style-type: square;
}

.enumeration-services {
    margin: 0;
    padding: 0;
}

.enumeration-services__section {
    margin-bottom: 30px;
    margin-left: 15px;
}

.enumeration-services-item {
    margin-bottom: 10px;
}

.enumeration-services .enumeration-services-item:last-child {
    margin-bottom: -10px;
}

.services--button button {
    color: var(--txt-primary, #00B9B6);
    font-family: Inter;
    font-size: 18px;
    font-weight: 700;
    line-height: 120%;
    padding: 12px 30px 14px 30px;
    border-radius: 12px;
    background: var(--colors-white, #FFF);
    box-shadow: 0px 15px 30px 0px rgba(220, 232, 243, 0.25);
    border: none;
    cursor: pointer;
}

.choice-of-services__section {
    display: flex;
}








